* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  padding: 10px 20px;
}
.container {
  background-color: #000;
  color: #fff;
}
.carrier {
  padding: 20px;
  background-color: #fff;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.carrier > div {
  margin-bottom: 20px;
  background-color: #000;
  height: 100px;
  color: #fff;
  text-align: center;
  padding-top: 45px;
  width: 100px;
}
